@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
    @apply bg-gray-950 text-white;
}

main a {
    @apply underline text-pulsePrimary;
}

@keyframes opacity {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.your-new-chat-platform {
    opacity: 0;
    animation: opacity forwards 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 5s;
}

.later {
    opacity: 0;
    animation: opacity forwards 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 5.3s;
}

h1 {
    font-size: 2.64rem;
    font-weight: 600;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-top: 0.15rem;
    margin-bottom: 0.35rem;
}

h3 {
    font-size: 1.97rem;
    margin-top: 0.05rem;
    margin-bottom: 0.2rem;
}

h4 {
    font-size: 1.56rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

h6 {
    font-size: 0.98rem;
    font-weight: 300;
}