---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Pulse"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jan 14 24')}
>
	<p>
		puls (chat app frfr)
	</p>
</Layout>
